.about {
  padding: 8.7rem 0;
  background-color: $white;
  color: $black;

  &__title {
    text-align: center;
    margin: 0 0 8.4rem;
  }

  &__text {
    font-family: $bounded;
    font-size: 2.4rem;
    line-height: 1.2;
    max-width: 58.8rem;
  }

  &__info-top {
    display: flex;
    gap: 2.4rem;
    margin: 0 0 5.6rem;

  }

  &__info-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
    padding: 0 0 19.5rem;
  }

  &__image-palms {
    margin-top: -13.1rem;
    margin-left: -5rem;
  }

  &__image-balls {
    position: absolute;
    bottom: 4.7rem;
    right: -3.8rem;
  }

  &__image {
    border-radius: 10px;
  }

  &__pink {
    position: relative;
    background-color: $pink;
    padding: 5.1rem 6rem 20rem;
    border-radius: 50px;
    overflow: hidden;
  }

  &__texture {
    background-position-x: -3.2rem;

    &--1 {
      bottom: -4.2rem;
      z-index: 5;
    }

    &--2 {
      bottom: 2.4rem;
      z-index: 3;
    }

    &--3 {
      bottom: 8.2rem;
      z-index: 2;
    }
  }

  &__bullits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__bullit {
    position: relative;
    width: 46.3rem;

    &--2 {
      margin-top: -7.5rem;
      width: 42.5rem;
      margin-bottom: 7.5rem;
    }
    &--3 {
      width: 40.1rem;
      margin-left: 4.3rem;
      margin-top: -16.5rem;
    }

    &--4 {
      margin-right: 6.5rem;
    }
  }

  &__bullit-image {
    position: relative;
    top: 2.6rem;
    left: 5.6rem;

    &--abs {
      position: absolute;
      top: -4rem;
      right: -9.4rem;
      left: auto;

    }

  }

  &__bullit-title {
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 1.1;
    font-family: $unbounded;
    color: $orange;
    margin: 0 0 1.6rem;
  }

  &__bullit-text {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: $monserrat;
    color: $white;
  }

  &__palms {
    position: absolute;
    left: 4.8rem;
    bottom: 0;
    z-index: 5;
  }

  &__yogamat {
    position: absolute;
    right: 10.5rem;
    bottom: 8rem;
    z-index: 6;
  }
}
