.hero {
  position: relative;
  background: linear-gradient(180deg, #8E003F -29.28%, #DF1867 87.68%);
  overflow: hidden;

  .container {
    padding: 18.4rem 0 11rem;
    position: relative;

    @media (max-width: $laptop) {
      padding: 10rem 0 8rem;
    }

    @media (max-width: $tablet) {
      padding: 8rem 2.4rem 6rem;
    }

    @media (max-width: $mobile) {
      padding: 6.8rem 2rem 4.5rem;
    }
  }

  &__top,
  &__bottom {
    position: relative;
    z-index: 7;
  }

  &__palm {
    position: absolute;
    bottom: -6.3rem;
    right: -4rem;
    z-index: 4;

    @media (max-width: $laptop) {
      width: 25rem;
      bottom: -4rem;
      right: -2rem;
    }

    @media (max-width: $tablet) {
      width: 18rem;
      bottom: -3rem;
      right: -1rem;
    }

    @media (max-width: $mobile) {
      width: 12rem;
      bottom: -1.5rem;
      right: 0;
    }
  }

  &__texture {
    background-position-x: -1rem;
    &--1 {
      bottom: -4.8rem;
      z-index: 5;
    }

    &--2 {
      bottom: 2.7rem;
      z-index: 3;
    }

    &--3 {
      bottom: 9.5rem;
      z-index: 2;
    }
  }

  &__title {
    font-family: $mossport;
    font-size: 20rem;
    line-height: 0.86;
    text-transform: uppercase;
    color: $orange;
    max-width: 57.9rem;
    margin: 0;

    @media (max-width: $laptop) {
      font-size: 16rem;
      max-width: 46rem;
    }

    @media (max-width: $tablet) {
      font-size: 12rem;
      max-width: 35rem;
    }

    @media (max-width: $mobile) {
      font-size: 8rem;
      max-width: 23rem;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__top {
    display: flex;
    gap: 4rem;

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__text {
    font-family: $unbounded;
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 500;
    transform: rotate(-5deg);
    max-width: 33.2rem;
    margin: 2.4rem 0 10rem;

    @media (max-width: $laptop) {
      font-size: 2rem;
      max-width: 28rem;
      margin: 2rem 0 6rem;
    }

    @media (max-width: $tablet) {
      font-size: 1.8rem;
      max-width: 24rem;
      margin: 1.5rem 0 4rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
      max-width: 19rem;
      margin: 1rem 0 3rem;
    }
  }

  &__days {
    font-family: $mossport;
    font-size: 4.4rem;
    line-height: 1;
    text-transform: uppercase;
    color: $orange;

    @media (max-width: $laptop) {
      font-size: 3.6rem;
    }

    @media (max-width: $tablet) {
      font-size: 2.8rem;
    }

    @media (max-width: $mobile) {
      font-size: 2.4rem;
    }
  }

  &__every {
    font-size: 2rem;
    line-height: 1.2;
    color: $white;
    font-weight: 600;
    max-width: 28.5rem;
    margin-top: 0.5rem;

    @media (max-width: $laptop) {
      font-size: 1.6rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
    }
  }

  &__label {
    font-family: $unbounded;
    font-size: 2rem;
    line-height: 1.2;
    color: $white;
    padding: 2rem 5.6rem;
    background-color: $green;
    border-radius: 30px;
    width: fit-content;

    @media (max-width: $laptop) {
      font-size: 1.6rem;
      padding: 1.6rem 4rem;
    }

    @media (max-width: $tablet) {
      font-size: 1.4rem;
      padding: 1.2rem 3rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.2rem;
      padding: 1rem 2.4rem;
    }
  }

  &__bottom {
    display: flex;
    gap: 4rem;
    margin-top: 2.2rem;

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__locations {
    display: flex;
    gap: 0.8rem;

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 0.6rem;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 600;
    color: $orange;

    &:first-child {
      max-width: 25rem;
    }

    &:last-child {
      max-width: 23.8rem;
    }

    @media (max-width: $laptop) {
      font-size: 1.4rem;
    }

    @media (max-width: $tablet) {
      font-size: 1.3rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.2rem;
    }
  }

  &__time {
    margin-left: -21rem;

    @media (max-width: $laptop) {
      margin-left: -16rem;
    }

    @media (max-width: $tablet) {
      margin-left: 0;
    }
  }

}
